{% extends "layout.html" %}

{% block content %}

<body  onLoad="mostrar('descriptionOLC2','manualOLC2','extrasOLC2','capturasOLC2')">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div >Proyecto OLC2  
    </div>

	<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="static/images/olc2flujo.jpg" class="d-block w-100" alt="..." width="250" height="400">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="static/images/olc2Ventana.jpg" class="d-block w-100" alt="..." width="250" height="400">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/images/olc2flujo.jpg" class="d-block w-100" alt="..." width="250" height="400">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>	
	

<div class="card text-center" >
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" id="pdescriptionOLC2">
          <a class="nav-link" onclick="mostrar('descriptionOLC2','manualOLC2','extrasOLC2','capturasOLC2')">Description</a>
        </li>
        <li class="nav-item" id="pmanualOLC2">
          <a class="nav-link" onclick="mostrar('manualOLC2','descriptionOLC2','capturasOLC2','extrasOLC2')">Technical manual</a>
        </li>
        <li class="nav-item"id="pcapturasOLC2">
          <a class="nav-link" onclick="mostrar('capturasOLC2','descriptionOLC2','manualOLC2','extrasOLC2')">Captures</a>
        </li>
        <li class="nav-item"id="pextrasOLC2">
            <a class="nav-link" onclick="mostrar('extrasOLC2','manualOLC2','descriptionOLC2','capturasOLC2')">Extras</a>
          </li>
          <li class="nav-item"id="expacio">
            <a class="nav-link" ></a>
          </li> 

        <li class="nav-item"id="pextrasOLC2">
          <a href="https://olc2201709075.herokuapp.com/"  target="_blank" rel="noopener noreferrer"class="btn btn-primary me-md-2" style="height: 46px;">Go to project</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <article id="descriptionOLC2" style="display: none;">
            <h4 class="card-title">  Compilers and Lenguages 2 Organization </h4>
            <h5>Second Proyect</h5>
            <p class="card-text">JOLC is a programming language based on Julia that has limited instructions with
                the advantage of a dynamic language with the performance of a compiled language, so
                Therefore, it is necessary to implement a web development environment to build a compiler
                to ensure good performance.</p>
        
                <img src="static/images/olc2flujo.jpg" class="d-block w-100"  >
            </article>
     
        <article id="manualOLC2" style="display: none;">
            <h5 class="card-title">Technical manual </h5>
            <p class="card-text">Aqui va el manual</p>
        </article>
        <article id="capturasOLC2" style="display: none;">
            <h5 class="card-title">Captures </h5>
            <p class="card-text">Aqui van las capturas</p>
        </article>
        <article id="extrasOLC2" style="display: none;">
            <h5 class="card-title">Extras </h5>
            <p class="card-text">Aqui va el extra</p>
        </article>
    </div>
  </div>

</body>

{% endblock%}