{% extends "layout.html" %}

{% block content %}

<body>

    <div class="card" style="width: 18rem;">
        <img src="static/images/olc2Ventana.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project 2 OLC2-2021</h5>
          <p class="card-text">Second project corresponding to the second semester of 2021</p>
        </div>
        <ul class="list-group list-group-flush">
            
          <li class="list-group-item"><h5> Technology used</h5></li>
          <li class="list-group-item"><i class="fab fa-python"></i> Flask - Python</li>
          <li class="list-group-item"><i class="fab fa-python"></i> Ply -Python</li>
          <li class="list-group-item"><i class="fab fa-html5"></i> HTML</li>
          <li class="list-group-item"><i class="fab fa-css3"></i> CSS + Bootstrap</li>
          <li class="list-group-item"><i class="fab fa-js-square"></i> JS</li>
        </ul>
        <a href="olc2py1" class="btn btn-primary" >Go to project</a>
      </div>
    <div class="card" style="width: 18rem;">



</body>

{% endblock%}